numpy==1.16.3
pandas==0.24.2
tensorflow==2.0.0
astropy==3.2.2
astroquery==0.3.10
requests==2.22.0
pytest==5.0.1
pyarrow==0.15.1
Sphinx==2.2.1
sphinx-autoapi==1.2.0
sphinx-press-theme==0.5.1
GitPython==3.0.4
matplotlib==3.1.1
