pymc3==3.11.2
retrying==1.3.3
bokeh==2.3.0
scipy==1.6.2
astroquery==0.4.1
astropy==4.2
pandas==1.2.3
tornado==6.1
pathos==0.2.7
tensorflow==2.4.2
exoplanet==0.4.5
peewee==3.14.4
requests==2.25.1
numpy==1.19.5
matplotlib==3.4.0
pytest==6.2.2
pyarrow==0.17.1
pytest-asyncio==0.14.0
wandb==0.10.23
plotly==4.14.3
beautifulsoup4==4.9.3
setuptools==54.2.0
backports.strenum==1.1.1