retrying
tenacity
numpy
pandas
tensorflow
astropy
astroquery
requests
pytest
pyarrow
Sphinx<2
sphinx-autoapi
sphinx-press-theme
GitPython
matplotlib
pipreqs
bokeh~=2.4.0
pymc3
exoplanet
scipy
setuptools
dataset
pathos
peewee
pytest-asyncio
wandb
plotly
tornado
beautifulsoup4
lxml
backports.strenum
lightkurve