retrying
numpy
pandas
tensorflow
astropy
astroquery
requests
pytest
pyarrow
Sphinx<2
sphinx-autoapi
sphinx-press-theme
GitPython
matplotlib
pipreqs
bokeh
pymc3
exoplanet
scipy
setuptools
dataset
pathos
peewee
backports.strenum
plotly
wandb