retrying
numpy
pandas
tensorflow
astropy
astroquery
requests
pytest
pyarrow
Sphinx
sphinx-autoapi
sphinx-press-theme
GitPython
matplotlib
pipreqs
bokeh
pymc3
Theano
exoplanet
scipy
setuptools
dataset
pathos
peewee
